## Imports

In [165]:
import numpy as np
import pandas as pd
import seaborn as sns
from sklearn.impute import SimpleImputer
import matplotlib.pyplot as plt
%matplotlib inline
plt.rcParams['figure.figsize'] = (10, 7)
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_log_error
from sklearn.metrics import mean_squared_error
from sklearn.metrics import r2_score, mean_squared_error
from sklearn.feature_selection import RFE
from sklearn.linear_model import Ridge
from sklearn.linear_model import Lasso
import statsmodels.api as sm
from statsmodels.api import OLS
from sklearn.model_selection import KFold
from sklearn.model_selection import cross_val_score
from statsmodels.regression.linear_model import OLS
from sklearn.linear_model import LinearRegression
from statsmodels.tools import add_constant
from sklearn.preprocessing import StandardScaler 
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import classification_report
from sklearn import metrics
from statsmodels.stats.outliers_influence import variance_inflation_factor
import sklearn
from sklearn import linear_model
import warnings; warnings.simplefilter('ignore')

## Sample Data

This sample data is from ISLR. It displays sales (in thousands of units) for a particular product as a function of advertising budgets (in thousands of dollars) for TV, radio, and newspaper media.

In [166]:
df = pd.read_csv('/content/ CITY_AQI.csv')

In [167]:
df.head()

        City        Date  AQI  Population  Literacy_rate   GDP
0  Ahmedabad  2019-10-28  212     7868633       0.886364  68.0
1  Amaravati  2019-10-28   67      741000       0.920635  62.9
2  Bengaluru  2019-10-28   88    11883000       0.887097  78.0
3     Bhopal  2019-10-28  228     2333000       0.833333   4.0
4    Chennai  2019-10-28  208    10711243       0.901961  70.0

### Multiple Features (N-Dimensional)

## Train | Test Split

In [171]:
from sklearn.model_selection import train_test_split

In [172]:
# random_state: 
# https://stackoverflow.com/questions/28064634/random-state-pseudo-random-number-in-scikit-learn
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=101)

In [173]:
X_train

    Population  Literacy_rate     GDP
5     29399000       0.862069  272.00
0      7868633       0.886364   68.00
4     10711243       0.901961   70.00
8     14755000       0.863158  150.10
9      3590000       0.825000    7.68
7      3812000       0.727273   40.00
6      9741000       0.833333   74.00
1       741000       0.920635   62.90
11     2378000       0.833333   15.50

In [174]:
y_train

5     417
0     212
4     208
8     289
9     356
7     355
6     126
1      67
11    408
Name: AQI, dtype: int64

In [175]:
X_test

    Population  Literacy_rate    GDP
12     2477000       0.951220   13.6
2     11883000       0.887097   78.0
3      2333000       0.833333    4.0
13     2125000       0.818182   43.5
10    20185000       0.897436  277.0

In [164]:
X_test

    Population  Literacy_rate    GDP
12     2477000       0.951220   13.6
2     11883000       0.887097   78.0
3      2333000       0.833333    4.0
13     2125000       0.818182   43.5
10    20185000       0.897436  277.0

In [176]:
y_test

12     69
2      88
3     228
13    284
10     92
Name: AQI, dtype: int64

## Creating a Model (Estimator)

#### Import a model class from a model family

In [177]:
from sklearn.linear_model import LinearRegression

#### Create an instance of the model with parameters

In [178]:
model = LinearRegression()

### Fit/Train the Model on the training data

In [179]:
model.fit(X_train,y_train)

LinearRegression()

In [180]:
test_predictions = model.predict(X_test)

In [181]:
test_predictions

array([117.95072238, 266.46977765, 268.26802678, 250.94530484,
       196.54073938])

In [182]:
from sklearn.metrics import mean_absolute_error,mean_squared_error

In [183]:
MAE = mean_absolute_error(y_test,test_predictions)
MSE = mean_squared_error(y_test,test_predictions)
RMSE = np.sqrt(MSE)

In [184]:
MAE

81.0567922708505

In [185]:
MSE

9578.105560074164

In [186]:
RMSE

97.86779633809154

In [187]:
df['AQI'].mean()

228.5